<div class="row">
    <form class="col s12" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.form.value)">
        <div class="row">
            <div class="input-field col s4">
                <input #firstName="ngModel" id="first_name"  type="text" required class="validate"
                [(ngModel)]="model.first_name" name="first_name">
                <label for="first_name">Prénom</label>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger ">
                    <div *ngIf="firstName.errors.required">
                        SVP entrez un prénom
                    </div>
                </div>
            </div>
            <div class="input-field col s4">
                <input #lastName="ngModel" id="last_name"  type="text" required class="validate"
                [(ngModel)]="model.last_name" name="last_name">
                <label for="last_name">Nom</label>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger ">
                        <div *ngIf="lastName.errors.required">
                            SVP entrez un nom
                        </div>
                </div>
            </div>
            <div class="input-field col s4">
                <input #gender="ngModel" id="gender"  type="text" required class="validate"
                [(ngModel)]="model.gender" name="gender">
                <label for="gender">Genre</label>
                <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger ">
                        <div *ngIf="gender.errors.required">
                            SVP entrez un genre
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input #email="ngModel" id="email"  type="email" required class="validate"
                [(ngModel)]="model.email" name="email">
                <label for="email">Email</label>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger ">
                        <div *ngIf="email.errors.required">
                            SVP entrez un email
                        </div>
                </div>
            </div>
         
            <div class="input-field col s4 form-group" >
                <select #company="ngModel" class="form-control" id="company" materialize="material_select"
                [(ngModel)]="model.company" name="company">
                    <option value="" disabled selected>Choisir une compagnie</option>
                    <option *ngFor="let company of companies" [value]="company">{{ company }}</option>
                </select>
                <label for="company">Compagnie</label>
            </div>
            <button class="waves-effect waves-light btn" id="btn" type="submit"
            [disabled]="!contactForm.form.valid">Ajouter contact</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s12 m4" *ngFor="let contact of model" [@contactsAnimation]="state">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="http://images.pexels.com/photos/91227/pexels-photo-91227.jpeg">
                <span class="card-title">{{ contact.first_name}} {{ contact.last_name }}</span>
            </div>
            <div class="card-content white-text">
                <span class="card-title">Details</span>
                <p>Courriel: {{contact.email}}</p>
                <p>Genre: {{contact.gender}}</p>
            </div>
            <div class="card-action">
                <a href="#">{{ contact.company }}</a>
            </div>
        </div>
    </div>
</div>
